/* Variables */
:root {
  --darkblue: #00415c;
  --lightblue: #88b0cd;
  --teal: #005874;
  --lightteal: #97d2dd;
}

/* Core Styles */
html {
  background: black;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;
  height: 1080px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  user-select: none;
  width: 1920px;
}

/* Layout Styles */
.wrap {
  height: 1080px;
  width: 100%;
}

.header {
  background-color: var(--darkblue);
  height: 150px;
  width: 100%;

  h1 {
    margin: 0;
    padding: 0;
  }
}

.content-wrap {
  display: flex;
  height: calc(100% - 150px);

  .left-col {
    background-color: var(--teal);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 360px;

    .toggles,
    .legend {
      height: 100%;
      padding: 59px 56px;
    }

    .toggles {
      border-bottom: 1px solid #fff;
    }
  }

  .right-col {
    background-color: var(--lightteal);
    height: 100%;
    width: calc(100% - 360px);

    figure {
      margin: 0;
      padding: 0;
    }

    .scrubber {
      background-color: var(--lightteal);
      height: 70px;
      width: 100%;
    }
  }
}

/* Faux Progress Bar Styles */
figcaption {
  align-items: center;
  height: 15px;
  padding: 26px 50px;
}

/* Fallback stuff */
progress[value] {
  appearance: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0 0 0 25%) inset;
  color: dodgerblue;
  display: inline;
  height: 15px;
  order: 1;
  position: relative;
  width: 100%;
}

/* WebKit styles */
progress[value]::-webkit-progress-bar {
  background-color: #97d2dd;
  border: 2px solid #005874;
  border-radius: 10px;
}

progress[value]::-webkit-progress-value {
  background: #005874;
  border-radius: 10px;
  position: relative;
}
